In [1]:
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
from sklearn.preprocessing import StandardScaler

## Load Dataset

In [2]:
mort = pd.read_csv('./newdata.csv', header=0) # data about mortgage
mort.head()

,Bo_Age,Ln_Orig,Orig_LTV_Ratio_Pct,Credit_score,First_home,Tot_mthly_debt_exp,Tot_mthly_incm,pur_prc_amt,DTI Ratio,OUTCOME,Median_state_inc
0,37,75650.0,85,669,N,1707,6000,160000,0.284500,non-default,"40,171"
1,46,390775.0,102,684,N,0,5025,309000,0.000000,non-default,"44,228"
2,30,112500.0,90,662,Y,1812,4800,176450,0.377500,non-default,"49,894"
3,24,85250.0,97,647,N,3395,6934,110000,0.489616,non-default,"43,217"
4,35,114000.0,100,791,N,3801,5504,103000,0.690589,non-default,"57,352"

## Convert Nominal variable to Numeric variable

In [3]:
## First_home 문자형 데이터 변환
mort['First_home'] = np.where(mort['First_home']=='Y',1,0)
mort['First_home']

## OUTCOME 데이터 변환
mort['OUTCOME'] = np.where(mort['OUTCOME']=='non-default',0,1) # non-default = 0, default = 1

## string 타입을 정수로 변환하기
for k in range(0,10607):
    mort.Median_state_inc[k] = np.float64(mort.Median_state_inc[k].replace(",", ""))

## Separating 'target' feature
outcome = mort.OUTCOME
mort.drop(['OUTCOME'], axis='columns', inplace=True)

mort

c:\anaconda3\envs\dm2019\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,Bo_Age,Ln_Orig,Orig_LTV_Ratio_Pct,Credit_score,First_home,Tot_mthly_debt_exp,Tot_mthly_incm,pur_prc_amt,DTI Ratio,Median_state_inc
0,37,75650.0,85,669,0,1707,6000,160000,0.284500,40171
1,46,390775.0,102,684,0,0,5025,309000,0.000000,44228
2,30,112500.0,90,662,1,1812,4800,176450,0.377500,49894
3,24,85250.0,97,647,0,3395,6934,110000,0.489616,43217
4,35,114000.0,100,791,0,3801,5504,103000,0.690589,57352
...,...,...,...,...,...,...,...,...,...,...
10602,37,280200.0,95,652,1,727,1827,80000,0.397920,42590
10603,30,57000.0,94,589,0,1703,3941,108000,0.432124,45787
10604,33,153200.0,95,675,1,1726,3707,154000,0.465606,43217
10605,38,158850.0,100,786,1,1364,2500,92000,0.545600,40171
10606,37,47000.0,89,683,1,2251,8541,189000,0.263552,41275

In [4]:
from sklearn.preprocessing import StandardScaler

features = ['Bo_Age', 'Ln_Orig', 'Orig_LTV_Ratio_Pct', 'Credit_score',
            'First_home', 'Tot_mthly_debt_exp', 'Tot_mthly_incm', 'pur_prc_amt',
            'DTI Ratio', 'Median_state_inc']

In [7]:
# X, y = mort, outcome
## training data와 test data 나누기
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(mort, outcome, test_size=0.2, random_state=1)

In [9]:
scaler = StandardScaler()
X_std = scaler.fit_transform(X_train, y_train)
X_test_std = scaler.transform(X_test)

In [29]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)

In [30]:
pca.fit_transform(X_train)

array([[-63777.54339745, -33516.36370845],
       [-53280.35751072,  17428.2214968 ],
       [-48254.09975019, -60789.23857685],
       ...,
       [-75001.83210414,   2282.40979022],
       [-46063.73589658,  76002.09563925],
       [ 18296.22242366, -29386.49126628]])

In [31]:
print(pca.explained_variance_ratio_)

[0.59734109 0.39958049]

In [32]:
pca.components_

array([[-7.69390297e-07, -3.15718423e-01, -2.05052146e-06,
         9.43586225e-05, -5.56975651e-07,  6.57305798e-03,
         1.77031239e-02,  9.48473836e-01,  7.32609495e-08,
         1.90432658e-02],
       [ 9.10742761e-06,  9.48825204e-01, -1.86414279e-05,
        -2.81136997e-05,  1.09153647e-07, -5.27721724e-04,
        -6.75058875e-04,  3.15780919e-01,  8.49240942e-08,
         3.52247984e-03]])

In [18]:
# score(self, X, y=None) : Average log-likelihood of the samples under the current model

sco = pca.score(X)
sco

-13.802203079357549

In [13]:
sco

-13.611393860016296